[build]
  command = "pnpm install && pnpm run build:playground:generate"
  publish = "playground/dist"
  functions = "playground/.output/server"

[build.environment]
  NODE_VERSION = "20"  

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
